kafka.bootstrapServers=<EVENTHUBS_NAMESPACE>.servicebus.windows.net:9093
kafka.schema-registry-url=https://<EVENTHUBS_NAMESPACE>.servicebus.windows.net
kafka.my-topic=my-topic
kafka.username="$ConnectionString"
kafka.password="<ACTUAL_CONNECTION_STRING>"
